@use '../../../sass/variables' as variables;

.progress-indicator {
  &__ {
    &vector {
      transform: rotate(270deg);

      &- {
        &total {
          background-color: variables.$color-brand-tertiary;
          stroke: variables.$color-brand-tertiary;
        }

        &current {
          background-color: variables.$color-brand-primary;
          stroke: variables.$color-brand-primary;
        }
      }
    }
  }
}
