<ul class="host-navigation">
  @for (link of hostLinks() | keyvalue; track link.key) {
    <li class="host-navigation__host"
      [ngClass]="{
        'host-navigation__host-previous': link.key === 'previous',
        'host-navigation__host-next': link.key === 'next'
      }">
      <span class="host-navigation__direction">
        @if (link.key === 'previous') {
          {{'PROFILES.PREVIOUS' | translate}}
        } @else {
          {{'PROFILES.NEXT' | translate}}
        }
      </span>
      <a class="host-navigation__link" [routerLink]="['/profiles',link.value.id]">
        {{link.value.name}}
      </a>
    </li>
  }
</ul>
