<ul class="host-navigation">
  <li class="host-navigation__host"
      [ngClass]="{
        'host-navigation__host-previous': parseInt(link.key) === types.Previous,
        'host-navigation__host-next': parseInt(link.key) === types.Next
      }"
      *ngFor="let link of hostLinks | keyvalue">
    <span class="host-navigation__direction">
      <ng-container *ngIf="parseInt(link.key) === types.Previous; else nextBlock">
        {{'PROFILES.PREVIOUS' | translate}}
      </ng-container>
      <ng-template #nextBlock>
        {{'PROFILES.NEXT' | translate}}
      </ng-template>
    </span>
    <a class="host-navigation__link" [routerLink]="['/profiles',link.value.id]">
      {{link.value.name}}
    </a>
  </li>
</ul>
