<div #contentContainer [ngClass]="{'read-more__content-wrapper--clamped': enableShowMore, 'read-more__content-wrapper--more': showMore}">
  <ng-content></ng-content>
</div>

<button *ngIf="enableShowMore" class="read-more__toggle btn btn-primary" (click)="toggleShowMore()">
  <ng-container *ngIf="!showMore; else lessBlock">{{'PROFILES.MORE' | translate}} <fa-icon [icon]="faChevronDown"></fa-icon></ng-container>
  <ng-template #lessBlock>{{'PROFILES.LESS' | translate}} <fa-icon [icon]="faChevronUp"></fa-icon></ng-template>
</button>
