<div #contentContainer [ngClass]="{'read-more__content-wrapper--clamped': enableShowMore, 'read-more__content-wrapper--more': showMore}">
  <ng-content></ng-content>
</div>

@if (enableShowMore) {
  <button mat-flat-button class="read-more__toggle btn btn-primary" (click)="toggleShowMore()">
    @if (!showMore) {
      {{'PROFILES.MORE' | translate}} <fa-icon [icon]="faChevronDown"></fa-icon>
    } @else {
      {{'PROFILES.LESS' | translate}} <fa-icon [icon]="faChevronUp"></fa-icon>
    }
  </button>
}
