/* Fonts */

$font-base-size: 15px;

/* Colors */

$color-brand-primary: #545691;
$color-brand-secondary: #000;
$color-brand-tertiary: #fff;

/* Breakpoints */
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
