<h1>{{'DJ_NAME.TITLE' | translate}}</h1>

<button (click)="generate()" class="btn btn-primary">{{'DJ_NAME.GENERATE' | translate}}</button>

@if (generated) {
  <hr>
  <div class="dj-name__result">
    <p>{{'DJ_NAME.YOUR_NAME_IS' | translate}} <span class="dj-name__result-name"><span>{{animal}}</span><span class="dj-name__result-name-number">{{number}}</span><span>{{shape}}</span></span></p>
    <img
        class="dj-name__result-image"
        [ngSrc]="imagePath + 'dj.jpg'"
        width="1024"
        height="1024"
        alt="" />
  </div>
}
