@use '../../../sass/variables' as variables;

.dj-name {
  &__ {
    &result {
      text-align: center;

      &- {
        &image {
          max-width: 50%;
          height: auto;
        }

        &name {
          display: block;
          font-size: 4em;
          font-weight: variables.$font-weight-bold;
          line-height: 1em;
          overflow-wrap: break-word;
          text-transform: uppercase;
          color: variables.$color-brand-primary;
          text-shadow: 2px 2px variables.$color-brand-secondary;

          &-number {
            color: var(--color);
          }

          > span {
            display: inline-block;
            overflow-wrap: normal;
          }
        }
      }
    }
  }
}
