<nav aria-label="breadcrumb" *ngIf="enabled">
  <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
    <li *ngFor="let item of configItems; index as i"
        class="breadcrumb-item"
        [bpActive]="item.isActive"
        [attr.aria-current]="item.isActive"
        itemprop="itemListElement" itemscope
        itemtype="http://schema.org/ListItem">
        <a *ngIf="item.routerLink; else elseBlock" [routerLink]="item.routerLink" itemprop="item">
          <span itemprop="name">{{item.name | translate}}</span>
        </a>
        <ng-template #elseBlock>
          <span itemprop="name">{{item.name | translate}}</span>
        </ng-template>
        <meta itemprop="position" content="{{ i + 1}}" />
    </li>
  </ol>
</nav>
