<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/radio">{{'HOME.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item"><a routerLink="/news">{{'NEWS.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{article?.title}}</li>
  </ol>
</nav>

<div class="news-article">
  <h1>{{article?.title}}</h1>

  <p><span class="news-article__date">{{ article?.date | formattedDate }}</span><span *ngIf="article?.added_by"> by <span class="news-article__date">{{ article?.added_by }}</span></span></p>

  <a  *ngIf="article?.image"
      [href]="'/assets/news/' + article.image">
    <img class="news-article__image"
          [src]="imagePath + article.image"
          [alt]="article.title">
  </a>

  <div class="news-article__text" [innerHTML]="article?.text | safe: 'html'"></div>

  <div class="news-article__clear"></div>
</div>
