@use '../../../sass/variables' as variables;
@use '../../../sass/mixins' as mixins;

.news-article {
  &__ {
    &image {
      @include mixins.responsive-image;
      margin-bottom: 1em;

      @media (min-width: variables.$breakpoint-md) {
        width: 30%;
        float: right;
        margin-left: 1em;
      }
    }

    &text {
      white-space: pre-wrap;

      ::ng-deep {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    &clear {
      clear: both;
    }
  }
}
