<app-breadcrumb [config]="breadcrumbConfig"></app-breadcrumb>

<div class="news-article">
  <h1>{{article?.title}}</h1>

  <p><span class="news-article__date">{{ article?.date | formattedDate }}</span><span *ngIf="article?.added_by"> by <span class="news-article__date">{{ article?.added_by }}</span></span></p>

  <a  *ngIf="article?.image"
      [href]="'/assets/news/' + article.image">
    <img class="news-article__image"
          [src]="imagePath + article.image"
          [alt]="article.title">
  </a>

  <div class="news-article__text" [innerHTML]="article?.text | safe: 'html'"></div>

  <div class="news-article__clear"></div>
</div>
