@if (article(); as article) {
  <article class="news-article" itemscope itemtype="https://schema.org/NewsArticle">
    <h1 itemprop="headline">{{article.title}}</h1>

    <p>
      <time [attr.datetime]="article.date | isoDate" class="news-article__date">{{ article.date | formattedDate }}</time>
      @if (article.added_by) {
        {{'NEWS.BY' | translate}}
        <span class="news-article__date" itemprop="author" itemscope itemtype="https://schema.org/Person">
          <span itemprop="name">{{ article.added_by }}</span>
        </span>
      }
    </p>

    <meta itemprop="dateCreated" content="{{ article.date | isoDate }}">
    <meta itemprop="datePublished" content="{{ article.date | isoDate }}">

    @if (article.image) {
      <a [href]="imagePath + article.image">
        <img class="news-article__image"
              bpImageClick
              [src]="imagePath + article.image"
              [alt]="article.title"
              loading="lazy"
              itemprop="image">
      </a>
    }

    <div class="news-article__text" [innerHTML]="article.text | safe: 'html'" itemprop="articleBody"></div>

    <div class="news-article__clear"></div>
  </article>
} @else {
  <h1>{{'NEWS.NOT_FOUND' | translate}}</h1>
  <p>{{'NEWS.COULD_NOT_FIND' | translate}}</p>
}
