<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/radio">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mobile</li>
  </ol>
</nav>

<h1>Mobile</h1>

<h2>Introduction</h2>
<p>It's possible to tune into Break Pirates wherever you might be, including in the car, on the bus, on a train, or just walking around town. It's easier than you think, so here's a quick guide to get you locked in!</p>
<p>One quick warning before I move on...listening to Internet radio through your phone involves downloading a large amount of data. Typically a one hour show will be around 60MB, so please ensure that you either have a data allowance included in your call plan or you understand how much this might cost. Make sure you're aware of this before continuing!</p>

<h2>Mobiles running Android</h2>
<p>Here's a few apps to look for in the Android Market:</p>
<ul>
    <li><a href="http://www.tunein.com" target="_blank">TuneIn Radio</a></li>
    <li><a href="http://www.xiialive.com/" target="_blank">XiiaLive</a></li>
</ul>

<h2>iPhone, iPad, and iPod Touch</h2>
<p>Here's a few apps to look for in the App Store:</p>
<ul>
    <li><a href="http://www.tunein.com" target="_blank">TuneIn Radio</a></li>
</ul>

<h2>Stream URL</h2>
<p>Enter the following URL into your radio player:</p>
<p class='text-center'><b>http://bpstream.hostco.de:3000/listen.pls</b></p>

<h2>In the car</h2>
<p>Of course using the above instructions you can also tune in while driving, either using Bluetooth, aux input or a mini FM transmitter which will allow you to listen through your car speakers. If you need a transmitter these can be picked up on Ebay and aren't that expensive.</p>
