{{'FOOTER.SWITCH_THEME' | translate}}:
<ul class="theme-select__theme-list">
  <li class="theme-select__theme-list-item">
    <button class="theme-select__theme-list-button btn btn-link" (click)="setThemeSetting(themeSettings.Auto)">
      {{'FOOTER.AUTO' | translate}}
    </button>
  </li>
  <li class="theme-select__theme-list-item">
    <button class="theme-select__theme-list-button btn btn-link" (click)="setThemeSetting(themeSettings.Light)">
      {{'FOOTER.LIGHT' | translate}}
    </button>
  </li>
  <li class="theme-select__theme-list-item">
    <button class="theme-select__theme-list-button btn btn-link" (click)="setThemeSetting(themeSettings.Dark)">
      {{'FOOTER.DARK' | translate}}
    </button>
  </li>
</ul>
