<div *ngIf="profile !== undefined" itemscope itemtype="http://schema.org/Person">
  <bp-breadcrumb [config]="breadcrumbConfig"></bp-breadcrumb>

  <h1 itemprop="name">{{profile.name}}</h1>

  <p *ngIf="profile.location">{{ profile.location }}</p>

  <ng-container *ngIf="profile.biog">
    <img *ngIf="profile.image"
          bpImageClick
          class="host-details__image"
          [src]="imagePath + profile.image"
          [alt]="profile.name"
          itemprop="image">

    <div class="host-details__biog" [innerHTML]="profile.biog | safe: 'html'" itemprop="description"></div>

    <div class="host-details__clear"></div>
  </ng-container>

  <ng-container *ngIf="shows && shows.length > 0">
    <h2>{{'PROFILES.SHOWS' | translate}}</h2>

    <ng-container *ngFor="let show of shows">
        <bp-show-summary [show]="show" [displayDay]="true"></bp-show-summary>
    </ng-container>
  </ng-container>

  <div *ngIf="hasMixcloud()">
      <h2>{{'PROFILES.LISTEN_ON_MIXCLOUD' | translate: {name: profile.name} }}</h2>
      <bp-mixcloud-widget [user]="profile.mixcloud"></bp-mixcloud-widget>
  </div>

  <div *ngIf="hasTwitter()">
    <h2>{{'PROFILES.FOLLOW_ON_TWITTER' | translate: {name: profile.name} }}</h2>
    <bp-twitter-widget [user]="profile.twitter"></bp-twitter-widget>
</div>

</div>
