<div *ngIf="profile !== undefined">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/radio">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/profiles">Profiles</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{profile.name}}</li>
    </ol>
  </nav>

  <h1>{{profile.name}}</h1>

  <ng-container *ngIf="profile.location">
    <h2>Location</h2>

    <p>{{ profile.location }}</p>
  </ng-container>

  <ng-container *ngIf="profile.biog">
    <h2>About {{ profile.name }}</h2>

    <img *ngIf="profile.image"
          class="host-details__image"
          [src]="imagePath + profile.image"
          [alt]="profile.name">

    <div style="white-space: pre-wrap;" [innerHTML]="profile.biog | safe: 'html'"></div>

    <div class="host-details__clear"></div>
  </ng-container>

  <ng-container *ngIf="shows && shows.length > 0">
    <h2>Appears on Break Pirates</h2>

    <ng-container *ngFor="let show of shows">
        <app-show-summary [show]="show"></app-show-summary>
    </ng-container>
  </ng-container>

  <div *ngIf="hasMixcloud()">
      <h2>Listen to recorded shows from {{profile.name}} on Mixcloud</h2>
      <app-mixcloud-widget [user]="profile.mixcloud"></app-mixcloud-widget>
  </div>

  <div *ngIf="hasTwitter()">
    <h2>Follow {{profile.name}} on Twitter</h2>
    <app-twitter-widget [user]="profile.twitter"></app-twitter-widget>
</div>

</div>
