<nav>
  <ul>
    <li><a routerLink="/radio">Home</a></li>
    <li><a routerLink="/news">News</a></li>
    <li><a routerLink="/schedule">Schedule</a></li>
    <li><a routerLink="/music">Music</a></li>
    <li><a routerLink="/profile">Profile</a></li>
    <li><a routerLink="/mobile">Mobile</a></li>
    <li><a routerLink="/video">Video</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>

<now-playing></now-playing>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

