<div class="app">
  <app-supported-browsers-notice></app-supported-browsers-notice>

  <div class="container-fluid">
    <div class="header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <app-navigation></app-navigation>
      </nav>
    </div>

    <app-now-playing></app-now-playing>

    <div class="row">
      <div class="col-md-9">
        <main class="main">
          <router-outlet></router-outlet>
        </main>
      </div>
      <div class="col-md-3">
        <aside>
          <router-outlet name="sidebar"></router-outlet>
        </aside>
      </div>
    </div>

    <ins class="ad-wrapper adsbygoogle"
      style="display:block;width:728px;height:90px"
      data-ad-client="ca-pub-0817931421481428"
      data-ad-slot="4643712095"></ins>

    <app-footer></app-footer>

    <app-footer-bar></app-footer-bar>

    <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  </div>
</div>

<app-dialog></app-dialog>
