@use '../sass/mixins' as mixins;

.app {
  background-color: var(--bg);
  color: var(--color);
  transition: all 0.1s ease-out;
  padding-top: 1em;
  overflow: hidden;
}

.main {
  @include mixins.box-padding;
  background-color: var(--panel-bg);
  border: 1px solid var(--border);
}
