<a href="#main-content" class="visually-hidden-focusable skip-link">Skip to main content</a>
<div class="app">
  <bp-supported-browsers-notice></bp-supported-browsers-notice>

  <div class="container-fluid">
    <bp-navigation></bp-navigation>

    <bp-now-playing></bp-now-playing>

    <div class="row">
      <div class="col-md-9">
        <main #mainContent id="main-content" class="main" role="main" tabindex="-1">
          <bp-breadcrumb></bp-breadcrumb>

          <router-outlet></router-outlet>
        </main>
      </div>
      <div class="col-md-3">
        <aside>
          <router-outlet name="sidebar"></router-outlet>
        </aside>
      </div>
    </div>

    <bp-ad-unit [adSlot]="4643712095"></bp-ad-unit>

    <bp-footer></bp-footer>

    <bp-footer-bar></bp-footer-bar>
  </div>
</div>

<bp-dialog></bp-dialog>
