<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/radio">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="!daySelected">Schedule</li>
    <li class="breadcrumb-item active" *ngIf="daySelected"><a routerLink="/schedule">Schedule</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="daySelected">{{ title }}</li>
  </ol>
</nav>

<h1>Schedule</h1>

<ul class="days list-group list-group-horizontal-sm">
  <li *ngFor="let day of days" class="day list-group-item" [ngClass]="{ 'active': day.id == activeDayId }"><a [routerLink]="['/schedule',day.id]">{{ day.name }}</a></li>
</ul>

<p>Check back regularly for schedule updates and details of guest shows!</p>

<p>You can find out more about the DJs featured by entering the Profiles section.</p>

<p>Times displayed are for London, UK.</p>

<h2>{{ title }}</h2>

<ng-container *ngFor="let show of todaysSchedule">
  <app-show-summary [show]="show"></app-show-summary>
</ng-container>
