<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/radio">{{'HOME.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="!daySelected">{{'SCHEDULE.TITLE' | translate}}</li>
    <li class="breadcrumb-item active" *ngIf="daySelected"><a routerLink="/schedule">{{'SCHEDULE.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="daySelected">{{ title }}</li>
  </ol>
</nav>

<h1>{{'SCHEDULE.TITLE' | translate}}</h1>

<p>{{'SCHEDULE.CHECK_BACK_REGULARLY' | translate}}</p>

<p>{{'SCHEDULE.FIND_OUT_MORE' | translate}}</p>

<p>{{'SCHEDULE.TIMES_DISPLAYED' | translate}}</p>

<app-day-select [days]="days" [activeDayId]="activeDayId"></app-day-select>

<ng-container *ngFor="let show of todaysSchedule">
  <app-show-summary [show]="show"></app-show-summary>
</ng-container>
