<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/radio">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schedule</li>
  </ol>
</nav>

<h1>Schedule</h1>

<ul class="list-group list-group-horizontal-sm">
  <li *ngFor="let day of days" class="list-group-item"><a [routerLink]="['/schedule',day.id]">{{ day.name }}</a></li>
</ul>

<ng-container *ngFor="let day of schedule | mapToArray">
  {{ day.key }}
  <ng-container *ngFor="let show of day.value">
    <app-show-summary [show]="show"></app-show-summary>
  </ng-container>
</ng-container>
