<div class="sidebar">
  <app-content-box>
    <content-box-title>{{'CHAT_ROOM.TITLE' | translate}}</content-box-title>
    <content-box-content>
      <app-chat-room-promo></app-chat-room-promo>
    </content-box-content>
  </app-content-box>

  <app-content-box>
    <content-box-title>{{'FOLLOW_US.TITLE' | translate}}</content-box-title>
    <content-box-content>
      <app-social-links></app-social-links>
    </content-box-content>
  </app-content-box>

  <app-content-box>
    <content-box-title>{{'DONATE.TITLE' | translate}}</content-box-title>
    <content-box-content>
      <app-donate></app-donate>
    </content-box-content>
  </app-content-box>
</div>
