<div class="sidebar">
  <app-content-box>
    <content-box-title>{{'CHAT_ROOM.TITLE' | translate}}</content-box-title>
    <content-box-content>
      <app-chat-room-promo></app-chat-room-promo>
    </content-box-content>
  </app-content-box>

  <app-content-box>
    <content-box-title>{{'DONATE.TITLE' | translate}}</content-box-title>
    <content-box-content>
      <app-donate></app-donate>
    </content-box-content>
  </app-content-box>

  <div class="sidebar__mixcloud-promo">
    <iframe title="Break Pirates on Mixcloud" width="100%" height="250" src="https://www.mixcloud.com/widget/follow/?u=%2FBreakPirates%2F" frameborder="0" ></iframe>
  </div>
</div>
