@use '../../../sass/variables' as variables;

.sidebar {
  margin-top: 1em;

  @media (min-width: variables.$breakpoint-md) {
    margin-top: 0;
  }

  &__ {
    &mixcloud-promo {
      border: 1px solid #545691;
    }
  }
}
