<div class="sidebar">
  <app-content-box>
    <content-box-title>{{'NOW_PLAYING.TITLE' | translate}}</content-box-title>
    <content-box-content>
      <app-now-playing></app-now-playing>
    </content-box-content>
  </app-content-box>

  <app-content-box>
    <content-box-title>Please donate</content-box-title>
    <content-box-content>
      <app-donate></app-donate>
    </content-box-content>
  </app-content-box>

  <app-content-box>
    <content-box-title>Follow us</content-box-title>
    <content-box-content>
      <app-social-links></app-social-links>
    </content-box-content>
  </app-content-box>
</div>
