<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/radio">{{'HOME.TITLE' | translate}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{'NEWS.TITLE' | translate}}</li>
  </ol>
</nav>

<h1>{{'NEWS.TITLE' | translate}}</h1>
<ul class="list-unstyled">
    <li *ngFor="let article of news">
        <span>{{unixTimeToStampToTime(article.date) | date: 'dd/MM/yyyy'}}</span> -
        <a [routerLink]="['/news',article.id]">{{article.title}}</a>
    </li>
</ul>
