<h1>{{'SOCIAL.CHAT' | translate}}</h1>

<iframe #chatIframe title="Break Pirates chat room" width="100%" height="470" [src]="chatUrl"></iframe>

<p><fa-icon [icon]="faExclamationTriangle"></fa-icon>&nbsp;{{'SOCIAL.CHAT_ISSUES' | translate}}</p>

@if (enableFullscreen) {
  <button (click)="fullscreen()" class="chat__button btn btn-primary">
    {{'SOCIAL.FULL_SCREEN' | translate}}
  </button>
}

@if (enablePreventSleep) {
  <button (click)="togglePreventSleep()" class="chat__button btn btn-primary">
    {{'SOCIAL.PREVENT_SLEEP' | translate}}:
    @if (preventSleep) {
      {{'SOCIAL.ON' | translate}}
    } @else {
      {{'SOCIAL.OFF' | translate}}
    }
  </button>
}

<h2>{{'SOCIAL.USE_OWN_APP' | translate}}</h2>

<p [innerHTML]="'SOCIAL.CHAT_SERVER_DETAILS' | translate: {ircChannel: ircChannel, ircServer: ircServer, ircPort: ircPort}"></p>
