@import '~sass/variables';

.now-playing {
  margin-bottom: 1em;
  border: 1px solid var(--border);
  background-color: var(--panel-bg);

  &__ {
    &on-air {
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 1em;
    }

    &show-info {
      display: flex;
      margin: 0.5em auto;
      padding: 0 1em;
      max-width: 700px;
      align-items: center;

      &- {
        &progress {
          &- {
            &container {
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }

            &vector {
              transform: rotate(270deg);

              &- {
                &total {
                  background-color: $color-brand-tertiary;
                  stroke: $color-brand-tertiary;
                }

                &current {
                  background-color: $color-brand-primary;
                  stroke: $color-brand-primary;
                }
              }
            }
          }
        }



        &image {
          height: 4rem;
          width: 4rem;
          min-width: 4rem;
          border-radius: 50%;
          border: 1px solid var(--border);
          background-size: cover;
          background-position: center;

          &-container {
            position: relative;
          }
        }

        &text {
          margin-left: 1em;
          overflow: hidden;
          line-height: 1.2em;
        }

        &name {
          font-size: 1.75rem;
          line-height: 1.2em;
          font-weight: $font-weight-bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &description {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 1.2em;
        }

        &host {
          margin-right: 0.5em;

          &:not(:last-of-type)::after {
            content: ",";
          }
        }
      }
    }

    &show-link {
      text-decoration: none;
      color: inherit;
    }
  }
}
