@if (show !== undefined) {
  <div class="show-summary" itemscope itemtype="http://schema.org/MusicEvent">
    <div>
      <div class="show-summary__day" *ngIf="displayDay">
        <a [routerLink]="['/schedule',show.day_id]">{{ dayName }}</a>
      </div>
      <div class="show-summary__time">{{show.start_time | time}} - {{show.end_time | time}}</div>

      <meta itemprop="startDate" content="{{nextDate}}">
      <meta itemprop="endDate" content="{{endDate}}">

      <ng-container *ngIf="scheduleService.nowPlaying$ | async as nowPlaying">
        @if (nowPlaying.id === show.id) {
          <div
            class="show-summary__now-live">
              {{'SHOW_SUMMARY.NOW_LIVE' | translate}}
              <span class="show-summary__now-live-icon" (click)="scrollToPlayer()" role="button">
                <fa-icon [icon]="faVolumeUp"></fa-icon>
              </span>
          </div>
        }
      </ng-container>
    </div>
    <div>
      <h3 class="show-summary__title" itemprop="name">
        <a [routerLink]="['/schedule/shows',show.id]" itemprop="url">
          {{show.title}}
        </a>
      </h3>

      <meta itemprop="description" content="{{show.description}}">

      <div itemprop="location" itemscope="" itemtype="http://schema.org/MusicVenue">
        <meta itemprop="name" content="Break Pirates">
        <link itemprop="sameAs" href="http://www.breakpirates.com">
        <meta itemprop="address" content="UK">
      </div>

      <bp-genre-list [genres]="show.genres"></bp-genre-list>
      <ng-container *ngIf="show.hosts.length > 0">
          {{'SHOW_SUMMARY.HOSTED_BY' | translate}}:
          <bp-host-list [hosts]="show.hosts"></bp-host-list>
      </ng-container>
    </div>
    <div *ngIf="showImage" class="show-summary__image" [style]="'background-image:' + showImage | safe:'style'"></div>
  </div>
}
