@import '~sass/variables';

.show-summary {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    margin: 0.5em 0;
    padding: 1em;
    background-color: #ddd;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 130px 1fr;
    }

    &__ {
      &time,
      &day,
      &title,
      &now-playing {
        font-size: 1.2rem;
        font-weight: bold;;
      }
    }
}
