@if (show(); as show) {
  <div class="show-summary" itemscope itemtype="http://schema.org/MusicEvent">
    <div>
      @if (displayDay()) {
        <div class="show-summary__day">
          <a [routerLink]="['/schedule',show.day_id]">{{ dayName() }}</a>
        </div>
      }
      <div class="show-summary__time">{{show.start_time | time}} - {{show.end_time | time}}</div>

      <meta itemprop="startDate" content="{{dates().startDate.toISO()}}">
      <meta itemprop="endDate" content="{{dates().endDate.toISO()}}">
      @if (showImage(); as showImage) {
        <meta itemprop="image" content="{{showImage}}">
      }

      <bp-now-live [show]="show"></bp-now-live>
    </div>
    <div>
      <h3 class="show-summary__title" itemprop="name">
        <a [routerLink]="['/schedule/shows',show.id]" itemprop="url">
          {{show.title}}
        </a>
      </h3>

      <meta itemprop="description" content="{{show.description}}">

      <div itemprop="location" itemscope="" itemtype="http://schema.org/MusicVenue">
        <meta itemprop="name" content="Break Pirates">
        <link itemprop="sameAs" href="http://www.breakpirates.com">
        <meta itemprop="address" content="UK">
      </div>

      <bp-genre-list [genres]="show.genres"></bp-genre-list>
      @if (show.hosts.length > 0) {
        {{'SHOW_SUMMARY.HOSTED_BY' | translate}}:
        <bp-host-list [hosts]="show.hosts"></bp-host-list>
      }
    </div>
    @if (showImageCssValue(); as showImageCssValue) {
      <div class="show-summary__image" [style]="'background-image:' + showImageCssValue | safe:'style'"></div>
    }
  </div>
}
