<div *ngIf="show !== undefined">
  <app-breadcrumb [config]="breadcrumbConfig"></app-breadcrumb>

  <h1>{{ show.title }}</h1>

  <h2>{{'SCHEDULE.SHOW_TIME' | translate}}</h2>

  <p>{{ show.start_time | time }} - {{ show.end_time | time }} on {{ dayName }}</p>

  <ng-container *ngIf="show.hosts?.length > 0">
    <h2>{{'SCHEDULE.HOSTED_BY' | translate}}</h2>

    <app-host-list [hosts]="show.hosts"></app-host-list>
  </ng-container>

  <ng-container *ngIf="show.genres?.length > 0">
    <h2>{{'SCHEDULE.MUSIC_STYLES' | translate}}</h2>

    <app-genre-list [genres]="show.genres"></app-genre-list>
  </ng-container>

  <ng-container *ngIf="show?.description">
    <h2>{{'SCHEDULE.SHOW_DESCRIPTION' | translate}}</h2>

    <p>{{ show.description }}</p>
  </ng-container>
</div>
