@import '~sass/variables';

.show {
  &__ {
    &image {
      display: block;
      max-width: 100%;
      height: auto;
      margin-bottom: 1em;

      @media (min-width: $breakpoint-md) {
        width: 30%;
        float: right;
        margin-left: 1em;
      }
    }

    &clear {
      clear: both;
    }
  }
}
