<div *ngIf="show !== undefined" itemscope itemtype="http://schema.org/MusicEvent">
  <bp-breadcrumb [config]="breadcrumbConfig"></bp-breadcrumb>

  <h1 itemprop="name">{{ show.title }}</h1>

  <p>{{ show.start_time | time }} - {{ show.end_time | time }} on <a [routerLink]="['/schedule',show.day_id]">{{ dayName }}</a></p>

  <meta itemprop="startDate" content="{{nextDate}}">
  <meta itemprop="endDate" content="{{endDate}}">

  <div itemprop="location" itemscope="" itemtype="http://schema.org/MusicVenue">
    <meta itemprop="name" content="Break Pirates">
    <link itemprop="sameAs" href="http://www.breakpirates.com">
    <meta itemprop="address" content="UK">
  </div>

  <ng-container *ngIf="show?.description">
    <h2>{{'SCHEDULE.SHOW_DESCRIPTION' | translate}}</h2>

    <img *ngIf="show.image"
          bpImageClick
          class="show__image"
          [src]="imagePath + show.image"
          [alt]="show.title"
          itemprop="image">

    <p itemprop="description">{{ show.description }}</p>

    <div class="show__clear"></div>
  </ng-container>

  <ng-container *ngIf="show.genres?.length > 0">
    <h2>{{'SCHEDULE.MUSIC_STYLES' | translate}}</h2>

    <bp-genre-list [genres]="show.genres"></bp-genre-list>
  </ng-container>

  <ng-container *ngIf="show.hosts?.length > 0">
    <h2>{{'SCHEDULE.HOSTED_BY' | translate}}</h2>

    <bp-host-list [hosts]="show.hosts"></bp-host-list>
  </ng-container>

</div>
