@if (show(); as show) {
  <div itemscope itemtype="http://schema.org/MusicEvent">
    <meta itemprop="startDate" content="{{nextDate}}">
    <meta itemprop="endDate" content="{{endDate}}">

    <div itemprop="location" itemscope="" itemtype="http://schema.org/MusicVenue">
      <meta itemprop="name" content="Break Pirates">
      <link itemprop="sameAs" href="http://www.breakpirates.com">
      <meta itemprop="address" content="UK">
    </div>

    <article>
      <h1 itemprop="name">{{ show.title }}</h1>

      <p>
        <time [attr.datetime]="show.start_time | time">{{ show.start_time | time }}</time> -
        <time [attr.datetime]="show.end_time | time">{{ show.end_time | time }}</time>
        {{'SCHEDULE.ON' | translate}} <a [routerLink]="['/schedule',show.day_id]">{{ dayName() }}</a>
      </p>
      @if (show.description) {
        <h2>{{'SCHEDULE.SHOW_DESCRIPTION' | translate}}</h2>

        @if (show.image) {
          <img bpImageClick
              class="show__image"
              [src]="imagePath + show.image"
              [alt]="show.title"
              loading="lazy"
              itemprop="image">
        }

        <p itemprop="description">{{ show.description }}</p>

        <div class="show__clear"></div>
      }
    </article>

    @if (show.genres.length > 0) {
      <h2>{{'SCHEDULE.MUSIC_STYLES' | translate}}</h2>

      <bp-genre-list [genres]="show.genres"></bp-genre-list>
    }

    @if (show.hosts.length > 0) {
      <h2>{{'SCHEDULE.HOSTED_BY' | translate}}</h2>

      <bp-host-list [hosts]="show.hosts"></bp-host-list>
    }
  </div>
} @else {
  <h1>{{'SCHEDULE.NOT_FOUND' | translate}}</h1>
  <p>{{'SCHEDULE.COULD_NOT_FIND' | translate}}</p>
}
