<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/radio">{{'HOME.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'PROFILES.TITLE' | translate}}</li>
  </ol>
</nav>

<h1>{{'PROFILES.TITLE' | translate}}</h1>

<p>{{'PROFILES.INTRO' | translate}}</p>

<button (click)="toggleOrderBy()">{{'PROFILES.ORDERING' | translate}} <i class="fas" [ngClass]="{'fa-chevron-up': order == 'asc', 'fa-chevron-down': order == 'desc'}"></i></button>

<ul class="profile-list">
    <li class="profile-list__list-item" *ngFor="let profile of profiles | sortBy:order:'name'">
        <app-profile-button [host]="profile"></app-profile-button>
    </li>
</ul>
