<h1>{{'PROFILES.TITLE' | translate}}</h1>

<p>{{'PROFILES.INTRO' | translate}}</p>

<button class="btn btn-primary" (click)="toggleOrderBy()">
  {{'PROFILES.ORDERING' | translate}}
  @switch (order) {
    @case (orders.Ascending) {
      <fa-icon [icon]="faChevronUp"></fa-icon>
    }
    @case (orders.Descending) {
      <fa-icon [icon]="faChevronDown"></fa-icon>
    }
  }
</button>

<ul class="profile-list">
  @for (profile of profiles | sortBy:order:'name'; track profile.id) {
    <li class="profile-list__list-item">
      <bp-profile-button [host]="profile"></bp-profile-button>
    </li>
  }
</ul>
