@import '~sass/variables';

.dropdown-toggle {
  border: 0;
  background-color: transparent;
}

.navbar-dark {
  .navbar-nav .nav-link {
    color: $color-brand-tertiary;
  }
}

.navigation {
  background-color: $color-brand-primary;

  &__logo {
    padding: 0;

    @media (min-width: $breakpoint-md) {
      padding: 5px 0;
    }

    &-image {
      width: 200px;
      height: auto;

      @media (min-width: $breakpoint-md) {
        width: 280px;
      }
    }
  }
}
