@use './sass/variables' as variables;

/* Importing Bootstrap SCSS file. */
@use "../node_modules/bootstrap/scss/bootstrap";

/* Template styles */

:root {
  --bg: #{lighten(variables.$color-brand-primary, 50%)};
  --panel-bg: #{variables.$color-brand-tertiary};
  --color: #212529;
  --color-link: #{lighten(#000, 5%)};
  --border: #000;
}

[data-theme='dark'] {
  --bg: #{darken(variables.$color-brand-primary, 30%)};
  --panel-bg: #333;
  --color: #{variables.$color-brand-tertiary};
  --color-link: #{darken(#fff, 10%)};
  --border: #{variables.$color-brand-tertiary};
}

html {
  font-size: variables.$font-base-size;
}

body {
  font-size: 1rem;
  padding-top: 53px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: variables.$font-weight-regular;

  @media (min-width: variables.$breakpoint-md) {
    padding-top: 68px;
  }

  &.bp-popup {
    padding: 0;
  }
}

h1 {
  font-size: 2.2rem;
  font-weight: variables.$font-weight-bold;
}

h2 {
  font-weight: variables.$font-weight-bold;
}

a {
  color: var(--color-link);
  text-decoration: none;
  &:hover {
      text-decoration: underline;
      color: var(--color);
  }
}

/* Bootstrap overrides */

.nav-link {
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }
}

.container-fluid {
  max-width: 1192px;
  margin: 0 auto;
}

.btn-primary {
  background-color: variables.$color-brand-primary;
  border-color: variables.$color-brand-primary;

  &:hover {
    background-color: lighten(variables.$color-brand-primary, 10%);
  }
}

/* Mediaelement overrides */

.mejs__container {
  width: auto !important;
}

/* Fixed player height in some browsers */
.mejs__inner {
  height: 40px;
}

/* Visually hidden styles for accessibility */
.visually-hidden-focusable {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.visually-hidden-focusable:focus,
.visually-hidden-focusable.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
  left: 0;
  background: #fff;
  color: #000;
  z-index: 10000;
  padding: 0.5em 1em;
  outline: 2px solid #545691;
  text-decoration: underline;
}
