@import './sass/variables';

/* Template styles */

body {
    font-size: $font-base-size;
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: lighten($color-brand-primary, 50%);
    font-family: 'Lato', serif;
}

a {
    color: $color-brand-primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

.container-fluid {
    max-width: 992px;
    margin: 0 auto;
}
