/* Importing Material styles */
@use '@angular/material' as mat;

@include mat.core();

@import './sass/variables';

/* Template styles */

:root {
  --bg: #{lighten($color-brand-primary, 50%)};
  --panel-bg: #{$color-brand-tertiary};
  --color: #212529;
  --color-link: #{lighten(#000, 5%)};
  --border: #000;
}

[data-theme='dark'] {
  --bg: #{darken($color-brand-primary, 30%)};
  --panel-bg: #333;
  --color: #{$color-brand-tertiary};
  --color-link: #{darken(#fff, 10%)};
  --border: #{$color-brand-tertiary};
}

html {
  font-size: $font-base-size;
}

body {
  font-size: 1rem;
  padding-top: 53px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: $font-weight-regular;

  @media (min-width: $breakpoint-md) {
    padding-top: 68px;
  }

  &.bp-popup {
    padding: 0;
  }
}

h1 {
  font-size: 2.2rem;
  font-weight: $font-weight-bold;
}

h2 {
  font-weight: $font-weight-bold;
}

a {
  color: var(--color-link);
  text-decoration: none;
  &:hover {
      text-decoration: underline;
      color: var(--color);
  }
}

/* Mediaelement overrides */

.mejs__container {
  width: auto !important;
}

/* Fixed player height in some browsers */
.mejs__inner {
  height: 40px;
}
