@import '~sass/mixins';

.latest-news {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  &__news-item {
    @include box-shadow;
    @include box-padding;
    padding: 0.5em;
  }
}
