@import '~sass/variables';
@import '~sass/mixins';

.latest-news {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: 1fr 1fr;
  }
}
