<bp-breadcrumb [isHome]="true" [config]="breadcrumbConfig"></bp-breadcrumb>

<h1>{{'HOME.WELCOME' | translate}}</h1>

<p>{{'HOME.DESCRIPTION' | translate}}</p>

<carousel class="home__carousel"
          [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="false"
          [indicatorsByChunk]="true">
  <slide *ngFor="let slide of slides; let index=index">
    <img [src]="imagePath + slide.image" alt="image slide" style="display: block; width: 100%;">
    <div class="carousel-caption">
      <h4>Slide {{index}}</h4>
    </div>
  </slide>
</carousel>

<ng-container *ngIf="scheduleLoaded">
  <h2>{{'HOME.TODAYS_SCHEDULE' | translate}}</h2>

  <ng-container *ngFor="let show of todaysSchedule">
    <bp-show-summary [show]="show"></bp-show-summary>
  </ng-container>
</ng-container>
