<article>
  <h1>{{'HOME.WELCOME' | translate}}</h1>

  <p>{{'HOME.DESCRIPTION' | translate}}</p>

  <p>{{'HOME.WE_PRIDE_OURSELVES' | translate}}</p>
</article>

<p><a routerLink="/profiles">{{'HOME.FIND_OUT_MORE' | translate}}</a></p>

@if (scheduleService.shows(activeDayId) | async; as todaysSchedule) {
  <h2>{{'HOME.TODAYS_SCHEDULE' | translate}}</h2>

  @for (show of todaysSchedule; track show.id) {
    <bp-show-summary [show]="show"></bp-show-summary>
  } @empty {
    <p>{{'SCHEDULE.NO_LIVE_SHOWS' | translate}}</p>
  }
}
