<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/radio">{{'HOME.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item active"><a routerLink="/tools">{{'TOOLS.TITLE' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'BPM_COUNTER.TITLE' | translate}}</li>
  </ol>
</nav>

<h1>{{'BPM_COUNTER.TITLE' | translate}}</h1>
<ng-container [ngSwitch]="message">
  <p *ngSwitchCase="statuses.Empty">{{'BPM_COUNTER.TAP_THE_BUTTON' | translate}}</p>
  <p *ngSwitchCase="statuses.Insufficient">{{'BPM_COUNTER.KEEP_GOING' | translate}}</p>
  <p *ngSwitchCase="statuses.Full">{{'BPM_COUNTER.YOUR_BPM_IS' | translate}}</p>
</ng-container>
<p><button class="btn btn-primary btn-lg" (click)="onClick()">{{'BPM_COUNTER.TAP_ME' | translate}}</button></p>
<p><span *ngIf="message == statuses.Full">{{'BPM_COUNTER.BPM' | translate}}: {{ bpm }}</span></p>
<div><button class="btn btn-secondary" (click)="onReset()">{{'BPM_COUNTER.START_AGAIN' | translate}}</button></div>
